#!yaml|gpg

rtmp_proxy:
  config: |
    -----BEGIN PGP MESSAGE-----
    REPLACE WITH ENCRYPTED config.toml
    -----END PGP MESSAGE-----
  environment: |
    -----BEGIN PGP MESSAGE-----
    REPLACE WITH ENCRYPTED systemd environment file
    -----END PGP MESSAGE-----
